{
    "ListDecksFunction": {
        "APP_ENV": "local",
        "AWS_REGION": "ca-central-1",
        "AWS_ENDPOINT_URL": "http://host.docker.internal:4566",
        "STATE_TABLE": "commandlog_local_deck_state",
        "USERS_TABLE": "commandlog_local_user_profile"
    }
}